<mdb-navbar SideClass="navbar fixed-top navbar-light blue-grey lighten-5">
  <!-- <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
          <img src="../../../assets/images/Brand.png" height="30" alt="">
      </a>
  </mdb-navbar-brand> -->
  <logo class="ml-3">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/images/Brand.png" height="30" alt="">
      </a>
  </logo>

  <!-- Collapsible content -->
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" mdbWavesEffect>Home
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" target="_blank" mdbWavesEffect>Products</a>
          </li>
      </ul>
      <!-- <ul class="navbar-nav nav-flex-icons">

              <li class="nav-item">
                  <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank" mdbWavesEffect>
                      <mdb-icon fab icon="facebook-f"></mdb-icon>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank" mdbWavesEffect>
                      <mdb-icon fab icon="twitter"></mdb-icon>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light"
                      target="_blank" mdbWavesEffect>
                      <mdb-icon fab icon="github" class="mr-2"></mdb-icon>MDB GitHub
                  </a>
              </li>
          </ul> -->
  </links>
</mdb-navbar>